<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <h1>Bienvenido a Topicos</h1>
    
    <% if (login) { %>

        <h1>El Usuario Ingresado es: <strong><%= nombre %></strong> </h1>
        <a href="logout" >Salir de la Session</a>
    <%} else {%>

        <h1><strong><%= nombre%></strong></h1>
        <a href="login" class="btn-register">Login</a>
    <% } %>    
    
    
</body>
</html>

